/* RideOptionsPage.css */

.ride-options-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-top: 100px;
  background-color: #e7f7fe;
}

.ride-options-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.ride-option {
  margin: 20px;
}

.ride-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ride-option-image {
  width: 310px;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ride-option-button {
  background-color: #054957;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
}

.ride-option-button:hover {
  background-color: #008ec2;
}

.rides-list .ride-filter {
  cursor: pointer;
  border: 1.5px solid #ccc;
  margin: 5px;
  width: 95%;
  padding: 10px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}
.rides-list .ride-filter-option {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.sort-dropdown .ride-filter-option:hover {
  background-color: #00aff5;
  cursor: pointer;
}
/* Add more styling as needed */
