/* Universal Styles */
body {
  /* 
  padding: 0;
*/
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  background-color: #f4f4f4;
  width: auto;
}

.content-wrapper {
  flex: 1; /* This allows the content to grow and consume available space, pushing the footer down */
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: #00aff5;
  font-size: 18px;
}

button:hover {
  background-color: #054957;
}

.tag {
  background-color: white;
}

.tagline {
  color: #054652;
  font-size: 20px;
  font-style: italic;
  margin: 10px;
  background-color: #fff;
}

.tagline1 {
  color: #00aff5;
  font-size: 16px;
  text-align: center;
}

/* NavBar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; /* Maroon inspired by Texas State University */
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-logo {
  color: #054652; /* Gold inspired by Texas State University */
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  margin-left: 10px;
}

.nav-search {
  flex: 1;
  margin: 0 20px;
}

.nav-search input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #00aff5;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.nav-item:hover {
  color: #008ec2; /* Maroon text on hover */
  cursor: pointer;
}

.user-profile-icon {
  font-size: 24px;
  background-color: #e7f7fe; /* Gold background */
  border-radius: 50%;
  padding: 5px 10px;
}

.user-profile-container {
  padding: 80px;
}

.nav-user {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column; /* Set the direction to column */
  width: 200px; /* Set the desired width */
  background-color: #fff; /* Add your preferred background color */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for styling */
  border-radius: 4px; /* Add border-radius for rounded corners */
  z-index: 1;
}

.dropdown-item {
  padding: 8px 12px;
  text-decoration: none;
  color: #054957; /* Add your preferred text color */
  font-weight: bold;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #ededed; /* Add a background color for hover effect */
  cursor: pointer;
}

.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 2; /* Set a higher z-index */
}

.submenu-item {
  padding: 8px 12px;
  text-decoration: none;
  color: #054957;
  font-style: normal;
  transition: background-color 0.3s;
}

.submenu-item:hover {
  background-color: #ededed;
  cursor: pointer;
}
/* Forms */
form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Ride Card */
.RideCard {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.RideCard h3 {
  margin-top: 0;
}

/* RideListings */
.ride-listings {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ride-listings h2 {
  color: #501214; /* Maroon */
  text-align: center;
  margin-bottom: 20px;
}

.ride-filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.ride-filters button {
  padding: 5px 10px;
  background-color: #501214; /* Maroon */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ride-filters button:hover {
  background-color: #3a0d0a;
}

.ride-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ride-card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fefefe;
}

.ride-card h3 {
  color: #501214; /* Maroon */
}

.ride-card p {
  margin: 5px 0;
  color: #666;
}

/* RideDetails */
.ride-details {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.driver-info,
.route-info {
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  color: #666;
}

/*Reviews*/
.review {
  margin-left: 50px;
}

.review-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin-left: 50px;
}

.review-form {
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.review-text {
  flex-grow: 1;
}

.review-user-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 4px;
}

.review-rating {
  color: #ffc107; /*gold color for stars */
  margin-bottom: 4px;
}

.review-content {
  font-size: 0.9rem;
  color: #333;
}

.reviewInput {
  width: 80%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 20px;
}

/* .review-form input, */
.review-form textarea,
.review-form select {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.review-form button {
  background-color: #00aff5;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  width: 300px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #004d80; /*darker shade for hover state */
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Chat */
.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  padding-bottom: 70px;
  margin-top: 350px;
  width: 70vw;
}

.message-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  background-color: #ededed;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
  align-self: flex-start; /* Align messages to the start by default */
}

.my-message {
  background-color: #00aff5;
  color: white;
  align-self: flex-end; /* Align your messages to the end */
  border-bottom-right-radius: 0;
}

.other-message {
  background-color: #054957;
  color: white;
  border-bottom-left-radius: 0;
}

.message-content {
  word-break: break-word;
}

.message-sender-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
}

.chat-input button {
  background-color: #008ec2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px; /* Adjust font size as needed */
}

.chat-input button:hover {
  background-color: #054957;
}

.chat-input button::after {
  content: "➤"; /* Unicode right arrow */
  display: inline-block;
  margin-left: 5px;
}

/* Home */
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  background-color: #e7f7fe; /* Maroon */
  color: #00aff5; /* Gold */
  padding: 100px 0;
  text-align: center;
}

.cta-btn {
  background-color: #00aff5; /* Gold */
  color: #fff; /* Maroon */
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #008ec2;
}

.stats {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
  color: #054957;
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat-item {
  flex: 1;
  padding: 10px;
}

.stat-item strong {
  display: block;
  font-size: 24px;
  color: #054957; /* Maroon */
}

.testimonials {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
  color: #054957;
}

.testimonial-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
  background-color: #054957; /* Maroon */
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  width: 100%; /* Ensure it spans the full width */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  color: #fff; /* Gold */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-item {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-item:hover {
  color: #fecb00; /* Gold hover effect */
}

.footer-copyright {
  text-align: center;
  color: white;
  padding-top: 10px;
}

/* FindRideForm */
.find-ride-form {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #501214; /* Maroon border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
  font-family: "Poppins", sans-serif;
  color: #054957;
}

.find-ride-form h2 {
  color: #054957; /* Maroon heading color */
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: #501214; /* Maroon label color */
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.find-ride-form .input-group input,
textarea {
  width: 95%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00aff5; /* Maroon button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

button:hover {
  background-color: #008ec2; /* Darkened Maroon for hover */
}

.find-ride-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00aff5; /* Maroon button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.find-ride-button:hover {
  background-color: #008ec2;
}
/* RideDetails */
.ride-details {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #501214; /* Maroon border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto;
}

.ride-details h2 {
  color: #501214; /* Maroon heading color */
  text-align: center;
  margin-bottom: 20px;
}

.details-group {
  margin-bottom: 15px;
}

.details-group label {
  color: #501214; /* Maroon label color */
  font-weight: bold;
  margin-right: 10px;
}

.details-group span {
  color: #333; /* Dark text color for details */
}

/* RegisterAsDriverForm */

.register-driver-form-main {
  padding-top: 80px;
  font-family: "Poppins", sans-serif;
  background-color: #e7f7fe;
}

.register-driver-form {
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  max-width: 400px;
  margin: 40px auto;
}

.register-driver-form h2 {
  color: #054957; /* Maroon heading color */
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.register-driver-form-button {
  background-color: #00aff5;
  border-radius: 25px;
}

.input-group {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.input-group label {
  display: block;
  color: #054957; /* Maroon label color */
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00aff5; /* Maroon button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #008ec2; /* Darkened Maroon for hover */
}

/* PostRideForm */
.post-ride-main-container {
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
  background-color: #e7f7fe;
}
.post-ride-form-wrapper {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 500px;
  margin: 40px auto;
}

.post-ride-form-wrapper h2 {
  color: #054957;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}
.post-ride-form {
  padding: 30px;
  align-content: center;
  justify-content: center;
}

.post-ride-form .post-ride-form-input {
  width: 95%;
  margin-bottom: 15px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  border: 2px solid #ccc;
}

.post-ride-submit-btn {
  background-color: #00aff5; /* Maroon */
  color: #fff; /* Gold */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.post-ride-submit-btn:hover {
  background-color: #008ec2;
}

.autocomplete-dropdown-container {
  cursor: pointer;
}
/*User Profile */
.user-profile {
  max-width: 1000px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  color: #054652;
  display: flex;
  flex-direction: column;
}

.user-profile-modal {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
  overflow: auto;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it's above other content */
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.cover-photo {
  position: relative;
}

.cover-photo .cover-photo-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -50px;
  padding: 20px;
}

.profile-pic {
  position: absolute; /* Absolute position relative to the nearest positioned ancestor (here, .user-profile) */
  bottom: -150px; /* Half the height to make it overlap the cover photo */
  left: 20px; /* Spacing from the left side */
  width: 250px; /* Size of the profile picture */
  height: 250px; /* Size of the profile picture */
  border-radius: 50%;
  border: 3px solid #fff; /* White border to separate from cover photo */
  background-color: #fff; /* Fallback color */
}
.profile-content {
  /* padding-top: 30px;  */
  margin-left: 300px;
}

.profile-content h1 {
  padding-top: 20px;
  margin: 0px;
}

.driver-title {
  font-weight: bold;
  margin-top: 0px;
}

.studies {
  display: flex;
  align-items: center;
  /* font-size: 1.5em; */
}

.bio-section {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 18px;
}

.bio-label {
  font-weight: bold;
}

.bio-section h3 {
  font-weight: normal;
  margin: 0px;
}

.bio-section p {
  font-weight: normal;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 1.5em;
}

.stats .number {
  font-weight: bold;
}

.stats .label {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 100px;
}

.user-description {
  flex: 1;
  padding-right: 20px;
}

.user-calendar {
  flex: 1;
  margin-right: 100px;
  margin-top: 10px;
}

.fc .fc-toolbar-title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.edit-submit-btn {
  background-color: #00aff5; /* Maroon */
  color: #fff; /* Gold */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s;
  margin-left: "450px";
}

.edit-submit-btn:hover {
  background-color: #008ec2;
}

.autocomplete-dropdown-container {
  cursor: pointer;
}

/* LoginRegister */

.main-login-register {
  padding-top: 100px;
  background-color: #e7f7fe;
}

.login-register-title {
  color: #054957;
  font-size: 24px;
  margin: 10px;
}

.register-form .login-register-input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 95%;
  margin-bottom: 25px;
}

.eye-icon {
  cursor: pointer;
  position: absolute;
  top: 58%;
  right: 380px;
  transform: translateY(-50%);
  color: #054957; /* Adjust the color as needed */
}

.login-register {
  font-family: "Poppins", sans-serif;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  padding: auto;
}

.login-form input,
.register-form input {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  font-family: "Poppins", sans-serif;
  width: 95%;
  margin-bottom: 25px;
}

.login-form input:focus,
.register-form input:focus {
  border-color: #054957;
}

.register-form .car-question {
  display: flex;
  align-items: center;
  gap: 10px;
}

.register-form .car-question button {
  background-color: #e4e4e4;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-form .car-question button {
  padding: 10px;
  border-radius: 20px;
}

.register-form .car-question button:hover {
  background-color: #008ec2;
}
.register-form .car-question button.active {
  background-color: #00aff5;
  color: white;
}

.submit-btn {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #00aff5;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.signup-btn {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  background-color: #00aff5;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.submit-btn:hover {
  background-color: #008ec2;
}

/* FAQ */
.faq-container {
  padding-top: 80px;
}
.faq {
  padding: 20px;
  background-color: #fff;
}

.faq h2 {
  color: #054957;
  font-size: 24px;
}

.faq-item {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.faq-item h3 {
  color: #054957; /* Maroon */
}

/* ContactForm */
.contact-form {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background-color: #e7f7fe;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.contact-form h2 {
  color: #054957;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form .card-form {
  border: 1.5px solid #ccc;
  width: 70%; /* Set the width of the form if needed */
  padding: 30px;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contact-form button {
  font-family: "Poppins", sans-serif;
  background-color: #00aff5;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #008ec2;
}

/* About */
.about {
  padding: 20px;
  background-color: #fff;
  padding-top: 100px;
}

.about h2 {
  color: #054957;
  font-size: 22px;
}

.about p {
  color: #333;
  margin-bottom: 20px;
}

.about img {
  max-width: 100%;
}

/* HowItWorks */
.how-it-works {
  padding: 20px;
  background-color: #fff;
  padding-top: 100px;
}

.how-it-works h2 {
  color: #054957;
  font-size: 22px;
}

.how-it-works ol {
  color: #333;
  margin-bottom: 20px;
}

.how-it-works ol li {
  margin-bottom: 10px;
}

.how-it-works img {
  max-width: 100%;
}

/* CreateRide */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.find-ride-form,
.create-ride-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
input[type="time"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #008ec2;
}
