/* Reset some default styles */
html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin: 0;
  font-size: 16px;
  color: #054957; /* Text color for headings */
  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
  list-style-type: disc; /* Use disc bullet points */
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.main-container {
  padding-top: 50px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 10px;
}

.demo-app-sidebar-section {
  
  padding: 10px;
}

.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  background: white; /* Background color for the sidebar */
  border-right: 1px solid #ccc; /* Border color */
  padding-top: 20px;
  align-content: center;
  justify-content: center;
}



.demo-app-main {
  flex-grow: 1;
  padding: 3em;
}

.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
  background-color:white; /* Background color for the calendar */
}

/* Update the event and hover colors */
.fc-event {
  background-color: #00aff5; /* Event background color */
  color: #fff; /* Event text color */
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.fc-event:hover {
  background-color: #286090; /* Event background color on hover */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal button {
  background-color: #00aff5;
  color: white;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #008ec2;
}

.modal button.cancel {
  background-color: #ccc;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's higher than the modal's z-index */
}

.button-container {
  display: flex;
  flex-direction: row;
}

.modal-options {
  padding: 10px;
  margin: 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: 1.5px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  color: #054957;
}

.modal-options:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #6B9626;
  color: #fff;
  border: 2px solid #c3d5a8;
}

.selected:hover{
  background-color: #6B9626;
}